Repository netcloth/netcloth-chain: changes, and which Codecov flags are due for each by the changed paths.
All: app, client

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 50...90

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        enabled: yes
        threshold: 1% # allowed to drop X% and still result in a "success" commit status
      app:
        enabled: yes
        target: 60%
        flags: app
      client:
        enabled: yes
        flags: client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
      - "!app/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "app/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "scripts/"
  - "contrib"
  - "tests/*"
  - "tests/**"
  - "app/**/test_common.go"

update v1 protocol
  app/v1/protocol_v1.go
Due: app

get current app version from genesisfile
  types/protocol.go
  types/protocol_test.go
Due: none

emit event when contract created
  app/v0/vm/evm.go
  app/v0/vm/state_transition.go
  app/v0/vm/types/statedb.go
  types/events.go
Due: app

use keeper params: MaxCallCreateDepth, MaxCodeSize
  app/v0/vm/evm.go
  app/v0/vm/interpreter.go
  app/v0/vm/keeper/params.go
  app/v0/vm/logger.go
  app/v0/vm/state_transition.go
  app/v0/vm/types/genesis.go
  app/v0/vm/types/params.go
Due: app

add commentg
  app/v0/vm/keeper/params.go
  app/v0/vm/types/params.go
Due: app

unexport constant values
  app/v0/vm/types/params.go
Due: app

fix golangci-lint linter:govet
  app/v0/staking/keeper/slash.go
  app/v0/vm/contracts_test.go
  app/v0/vm/instructions_test.go
  baseapp/baseapp_test.go
  client/keys/codec_test.go
  store/cachekv/store_test.go
  store/cachemulti/store.go
  store/gaskv/store_test.go
  store/iavl/store_test.go
  store/prefix/store_test.go
  store/rootmulti/store.go
  store/tracekv/store_test.go
  store/transient/store.go
Due: app, client

fix golangci-lint linters: scopelint, maligned
  .golangci.yml
  client/keys/codec_test.go
  store/list/list_test.go
  store/types/gas_test.go
  types/coin_test.go
  types/rest/rest_test.go
Due: client

fix golangci-lint linters: gocritic
  app/v0/staking/keeper/validator.go
  app/v0/vm/instructions.go
  client/keys/mnemonic.go
  crypto/keys/hd/hdpath.go
  crypto/keys/keybase.go
  store/cachekv/store.go
  store/types/utils.go
  types/coin.go
  types/dec_coin.go
Due: app, client

fix golangci-lint linters: stylecheck
  client/context/errors.go
  client/keys/utils.go
  crypto/keys/mintkey/mintkey.go
  crypto/keys/types_test.go
  store/prefix/store.go
  store/reexport.go
  types/types.go
Due: client

fix golangci-lint linters: gosimple
  app/app.go
  app/v0/vm/instructions.go
  app/v0/vm/types/params.go
  client/input/input.go
  server/export.go
  store/cachekv/store_bench_test.go
  types/events.go
Due: app, client

fix golangci-lint linters: gosec
  app/v0/vm/instructions_test.go
  client/keys/import_test.go
Due: app, client

fix golangci-lint linters: prealloc
  app/mock/baseapp.go
  baseapp/baseapp.go
  types/events.go
  types/module/module.go
Due: app

fix testcase
  types/events.go
  types/module/module.go
Due: none

fix golangci-lint linters: structcheck
  app/v0/vm/contracts_test.go
Due: app

fix golangci-lint linters: interfacer
  app/v0/params/keeper.go
  app/v0/staking/keeper/delegation.go
  app/v0/supply/internal/keeper/account.go
  app/v0/vm/simulation/operations.go
  app/v0/vm/types/statedb.go
  baseapp/baseapp_test.go
  client/config.go
  store/rootmulti/store.go
Due: app, client

fix golangci-lint linters: nakedret
  app/v0/upgrade/test_common.go
  app/v0/vm/types/statedb.go
  baseapp/abci.go
  server/util.go
  store/iavl/store.go
  tests/gobash.go
Due: app

fix golangci-lint linters: golint
  app/protocol/engine.go
  app/protocol/queryrouter.go
  app/v0/cipal/alias.go
Due: app

fix golangci-lint linters: gocritic
  types/rest/rest.go
Due: none

fix golangci-lint linters: goconst
  app/v0/vm/instructions_test.go
Due: app

fix golangci-lint linters: bodyclose
  types/rest/rest_test.go
Due: none

fix golangci-lint linters
  app/v0/vm/contracts.go
  app/v0/vm/instructions_test.go
  app/v0/vm/module_test.go
  cmd/nchd/replay.go
Due: app

fix golangci-lint linters
  app/protocol/engine.go
  app/protocol/queryrouter.go
  app/v0/params/keeper.go
  app/v0/staking/keeper/delegation.go
  app/v0/supply/internal/keeper/account.go
  app/v0/upgrade/test_common.go
  app/v0/vm/simulation/operations.go
  app/v0/vm/types/statedb.go
  crypto/keys/mintkey/mintkey.go
  store/iavl/store.go
  types/events.go
  types/module/module.go
Due: app

fix golangci-lint linters
  app/protocol/engine.go
  app/v0/vm/simulation/operations.go
  types/events.go
Due: app

use golangci-lint-action v1.28
  .github/workflows/lint.yml
Due: none

fix golangci-lint linter:interfacer
  types/int.go
Due: none

fix golangci-lint linter:interfacer
  .golangci.yml
Due: none

fix golangci-lint linter:interfacer
  .golangci.yml
  types/int.go
Due: none

update codecov config
  codecov.yml
Due: none

move duplicated type: GenesisState to sdk
  app/mock/p0/genesis.go
  app/mock/p0/protocol_v0.go
  app/simapp/genesis.go
  app/v0/genesis.go
  app/v0/protocol_v0.go
  types/genesis.go
Due: app

remove duplicated code: app/mock
  app/app.go
  app/mock/abci.go
  app/mock/account.go
  app/mock/app.go
  app/mock/baseapp.go
  app/mock/doc.go
  app/mock/helpers.go
  app/mock/options.go
  app/mock/p0/export.go
  app/mock/p0/genesis.go
  app/mock/p0/protocol_v0.go
  app/v0/gov/common_test.go
  app/v0/gov/test_account.go
  app/v0/keeper_accessor.go
  baseapp/baseapp.go
Due: app

no need to lint
  app/v0/keeper_accessor.go
Due: app

add comments
  app/v0/keeper_accessor.go
Due: app

update vm module test
  app/v0/vm/module_test.go
Due: app

add comment
  app/v0/auth/client/rest/query.go
  app/v0/auth/context.go
  app/v0/auth/types/keys.go
  app/v0/bank/internal/types/codec.go
  app/v0/cipal/types/codec.go
  app/v0/cipal/types/msgs.go
  app/v0/crisis/internal/types/keys.go
  app/v0/crisis/internal/types/params.go
  app/v0/genutil/gentx.go
  app/v0/genutil/types/types.go
  app/v0/mint/internal/types/codec.go
  app/v0/mint/internal/types/keys.go
  app/v0/params/module.go
  app/v0/params/types/keys.go
  app/v0/protocol_v0.go
  app/v0/slashing/types/codec.go
  app/v0/vm/types/expected_keepers.go
  client/rpc/validators.go
  crypto/keys/keybase.go
  store/dbadapter/store.go
Due: app, client

add engine unit test
  app/protocol/engine.go
  app/protocol/engine_test.go
  app/protocol/mock_protocol.go
  app/protocol/mock_protocol_test.go
  app/v0/cipal/keeper/keeper.go
  baseapp/baseapp_test.go
Due: app

refactor and update comment
  app/protocol/mock_protocol.go
  app/protocol/types.go
  app/v0/protocol_v0.go
  baseapp/baseapp_test.go
Due: app

refactor and add comment
  app/app.go
  app/protocol/mock_protocol.go
  baseapp/baseapp_test.go
Due: app

update test script
  tests/scripts/batch_run.sh
Due: none

remove duplicated code
  baseapp/baseapp_test.go
Due: app
